html
    head         
       // script(src="app.js")
    body  
        
        h1 用户信息 
        each item ,key in object
            p #{key}
            ul
                each val, key in item
                    li #{key}: #{val} 
            p ----------------------------
        
          